/* CSS HEX - colour palette*/
--charcoal: #424b54ff;
--mint: #4fb477ff;
--mint-cream: #f0f7f4ff;
--light-coral: #e0777dff;
--indian-red: #db5461ff;

body {
  font-family: ;
  background-color: #F0F7F4;
  color: #424B54;
}
